
/* 公用 */
.comWidth{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
a{
    color: #656565;
}
.leftArea{
    float: left;
}
.rightArea{
    float: right;
}
.rightArea a{
    margin-left: 40px;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.getR{
    color: #f10215;
}
.tenpx{
    margin-top: 10px;
}
.zuoyi{
    margin-left: -300px;
}
/* topBar ----------------*/
.topBar{
    height: 31px;
    background-color: #e3e4e5;
    line-height: 31px;/*文字居中 */
}
.topBar a:hover{
    color: #f40;
}

/* logoBar ---------------- */
.logoBar{
    height: 105px;
    background-color: #f0f3ef;
}
.jingdlogo{
    height: 140px;
    box-shadow: 2px 2px 2px rgb(116, 110, 110);
}
/* search_box */
.search_box {
    width: 485px;
    padding-top: 36px;
    padding-left: 150px; 
}
.search_btn:hover{
    cursor: pointer;
}
.search_text{
    width: 420px;
    height: 35px;
    line-height: 35px\9;
    padding: 0 5px;
}
.search_btn{
    height: 35px;
    width: 55px;
    background-color: #f10215;
    font-size: 14px;
}
/* 购物车 */
.shopCar{
    width: 180px;
    height: 35px;
    background-color: #fff;
    line-height: 35px;
    text-align: center;
    font-size: 13px;
    border: 1px solid #e3e4e5;
    margin-top: 35px;
}
.shopText:hover{
    cursor: pointer;
    color: #f40;
}
/* 导航栏 */
.navBox{
    height: 35px;
    background: #f0f3ef;
}
.shopClass{
    /* float: left; */
    width: 190px;
    line-height: 35px;
    text-align: center;
}
.nav{
    line-height: 35px;
}
.nav li{
    margin-left: 20px;
    float: left;
}
.nav a{
    display: inline-block;
    padding-left: 35px;
    height: 35px;
    text-align: center;
}
.nav li a:hover{
    color: rgb(197, 46, 46);
}

/* 左侧导航栏 */
.navLan{
    position: absolute;
    width: 1200px;
    left: 50%;
    margin-left: -600px;
    background: #f0f3ef;
    height: 510px;
}
.navLan .navLeft{
    width: 214px;
    height: 100%;
    box-shadow: 6px 8px 20px rgba(45,45,45,.15);
    background: white;
}

.navLan .navLeft li{
    height: 29px;
    line-height: 29px;
}
.navLan .navLeft li a{  
    padding-left: 10px;
} 
.navLan .navLeft li:hover{
    background: #cac6c6;
}
.navLan .navLeft a:hover{
    color: #f10215;
}
/* 左边框弹出框 */
.navLeft_tanchu{
    /* display: none; */
    position: absolute;
    left: 214px;
    top: 0;
    border: 1px solid green;
    width: 500px;
    height: 100%;
}

.navLeft_tanchu ul li {
    height: 29px;
    line-height: 29px;
    padding: 0 10px;
    /* margin-left: 10px; */
}
.navLeft_tanchu ul li a{
    margin-left: 15px;
}
.navLeft_tanchu .xiexian {
    color : rgb(187, 183, 183);
}
.navLeft_tanchu .first{
    color: #666;
    font-weight: bold;
}
.navLeft_tanchu ul  .first_line a{
    display: inline-block;
    width: 70px;
    height:25px;
    line-height: 25px;
    background: #333;
    color: #fff;
    padding-left: 5px;
}
.navLan .navLeft_tanchu a:hover{
    color: #f10215;
}
/* 轮播图部分 */
.lunB{
    position: relative;
    margin-left: 220px;
    margin-top: -510px;
    width:800px;
    height: 502px;
    /* padding-top: 800px; */
    /* border: 1px solid red; */
    overflow: hidden;
}
#banner {
    position: relative;/* 给绝对定位一个位置参考 */
    width: 7006px;
    height: 5000px;
    margin-left: 300px;
     /* margin: 0 auto;上下 左右 */
    /* background-color: #3399ff; */
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#banner li .item{
    display: none;
    position: absolute;
    /* 绝对定位，脱离了文档流,如果你的父级元素 */
    top: 0;
    left: 0;
}
.lr-tab img{ 
    position: absolute;
    top: 200px;
    opacity:0.5;
}
 .lr-tab .zuo-btn{
    left: 0;
    width: 30px;
    height: 50px;
}
.lr-tab .you-btn{
    right: 10px;
    width: 30px;
    height: 50px;
}
.lr-tab img:hover{
    opacity:1;
    cursor: pointer;
}
.tab-btn {
    bottom: 20px;
    right: 50px;
    position: absolute;
    width: 120px;
    height: 30px;
}
.tab-btn .btn{
    float: left;/*左浮动*/
    width: 6px;
    height: 6px;
    background: #868686;
    border-radius: 50%;/*边框圆角*/
    border: 2px solid #c3c3c3;/*边框*/
    margin-left: 11px;
}
.tab-btn .btn:hover{
    border-color: #7f7f7f;/*单独设置边框颜色*/
    background: #e4e4e4; 
    cursor: pointer;
}

.tab-btn .active{
    border-color: #7f7f7f;
    background: #e4e4e4; 
}
/* 登录注册部分 */
.signIn{
    position: relative;
    margin-top: -503px;
    /* margin-right: 20px; */
    width: 170px;
    height: 500px;
    background: white;
}
.signIn_kuang {
    width:170px;
    height: 80px;
    /* border: 1px solid red; */
}
.signIn_img_kuang{
    position: absolute;
    display: inline-block;
    left: 50%;
    margin-left: -30px;
    width: 50px;
    height: 50px;
    border: 5px solid #e3e1df;
    border-radius: 50%;
    box-shadow: 3px 6px 25px #c3c3c3;
    /* border: 1px solid green;  */
}
.signIn_img_kuang img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.user_show{
    width: 150px;
    height: 40px;
    /* border: 1px solid red; */
    padding: 0 10px;
}
.user_show p{
    width: 100%;
    text-align: center;
    line-height: 20px;
    overflow: hidden;
    color: #888;
}
.user_show p a{
    padding: 0 2px;
}
.user_fuli{
    width: 150px;
    height: 40px;
    padding: 0 10px;
    margin-top: 10px;
}
.user_fuli a{
    display: inline-block;
    width: 60px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    margin: 0 5px;
    box-shadow: 6px 8px 20px rgba(45,45,45,.15);
    border-radius: 13px;
}
.user_fuli  .member{
    background: #363636;
    color: #e5d790;
}
.user_fuli a:hover{
    background: red;
    color: white;
}
/* 促销公告 */
.cuxiao {
    width: 150px;
    height: 40px;
    padding: 0 10px;
}
.cuxiao a{
    padding: 0 5px;
}
.user_cuxiao{
    width: 160px;
    height: 88px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.user_cuxiao a{
    line-height: 22px;
}
.user_cuxiao a:hover{
    color: #f10215;
}
.user_chongzhi {
    display: inline-block;
    width: 160px;
    height: 190px;
    margin-top: 10px;
    font-size: 15px;

}
.user_chongzhi input{
    width: 130px;
    border: 1px solid #ccc;
}
.user_chongzhi .user_phone{
    width: 170px;
    height: 50px;
}
.user_chongzhi .user_phone select{
    width: 130px;
    border: 1px solid #ccc;
}
.user_chongzhi .kscz{
    margin-top: 5px;
    display: inline-block;
    width: 80px;
    height: 25px;
    background: #f10215;
    border-radius: 20px;
    text-align: center;
}
.user_chongzhi .kscz_list{

}
.user_chongzhi .lianT{
    font-size: 10px;
    color: #5476db;
    overflow: hidden;
}

/* 商品列表 */
.miaoShaLan{
    position: relative;
    margin-top: 530px;
    width: 1200px;
    height: 275px;
    margin-right: auto;   
    margin-left: auto;  
}
.miaoSha{
    position: relative;
    float: left;
    width: 214px;
    height: 275px;
    background: #e83632;
    color: #fff;
}
.miaoSha .miaoSha_lk {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
} 
.miaoSha .miaoSha_lk:hover{
    cursor: pointer;
} 
.miaoSha .miaoSha_text1{
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    top: 42px;
    font-size: 34px;
}
.miaoSha .miaoSha_text2{
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    top: 90px;
    color: #f19999;
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
}
.miaoSha .miaoSha_ico img{
    position: absolute;
    left: 86px;
    top: 126px;
    display: block;
    width: 20px;
    height: 33px;
}
.miaoSha .miaoSha_desc{
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    top: 170px;
    font-size: 16px;
}
.miaoSha_lk .miaoSha_cd{
    position: absolute;
    top: 212px;
    left: 36px;
    height: 40px;
}

.miaoSha .miaoSha_cd .cd_hour{
    position: relative;
    width: 40px;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 20px;
    background: #2f3430;
}
.miaoSha .miaoSha_cd .cd_minute{
    position: relative;
    width: 40px;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
    background: #2f3430;
}
.miaoSha .miaoSha_cd .cd_second{
    position: relative;
    width: 40px;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
    background: #2f3430;
}
/* 秒杀轮播图部分 */
.miaoShaL{
    position: absolute;
    left: 220px;
    width: 800px;
    height: 275px;
    /* border: 1px solid blue; */
}
.miaoShaL div{
    border: 1px solid rgb(243, 234, 234);
    margin-left: 3px;
}
.miaoShaLB{
    position: absolute;
    right: 0px;
    width:170px;
    height: 275px;
}

/* 网页底部 */
.footer{
    width: 1200px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    line-height: 24px;
    padding: 50px 0;
    /* border: 1px solid red; */
}
.footer a{
    padding:0 10px;
}

.pubu_head {
    text-align: center;
}
.pubu_box {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.pubu_box img {
    float: left;    

}