*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width:100%;
    height:100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url('img/background.png');
    background-size: 100% 100%; 
}

.btn{
    background-image: url('img/startb.png');
    width:100px;
    height: 100px;
    top: 5%;
    left: 50px;
    position: absolute;
    background-size: 100% 100%;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    cursor: pointer;
}
.btn:hover{
    box-shadow: 4px 2px 5px rgb(43, 43, 223);
}
.box{
    display: none;
    width:500px;
    height:411px;
    transform: perspective(800px) rotateX(45deg);
    margin: 10px auto;
    border: 1px solid #b25f27;
    box-shadow:  5px 5px 5px rgba(0, 0, 0, 0.3);
}
.flagBox{
    display: none;
    position: absolute;
    top: 50px;
    left: 45%;
    margin: -20px;
    width: 200px;
    height:50px;
    color: #333;
    font-size: 20px;
    font-weight: border;
}
.aleryBox{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    height: 0;
    background-color: black;
}
.alertImg{
    display: none;
    width: 300px;
    height: 200px;
    background-image: url('img/successful.png');
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 20px;
}
.close{
    position: absolute;
    right: 0;
    top: 0;
    width:40px;
    height: 40px;
    background-image: url('img/cha.png');
    background-size: 100% 100%;
    border-radius: 50%;
    cursor: pointer;
}
.close:hover{
    box-shadow: 2px 2px 6px rgb(223, 36, 36);
}
.block{
    width:49px;
    height:40px;
    border-right:1px solid rgb(85, 31, 11); 
    border-bottom:1px solid rgb(82, 31, 13);
    box-shadow:0 0 4px #333 inset;
    background-image: url('img/caodi.jpg');
    float: left;
    cursor: pointer;
}
.show{
    background-image: url('img/lei.png');
    background-size: 100% 100%;
}
.num{
    background:#ecd0a1;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 49px;

}
.flag{
    background-image: url('img/redq.png');
    background-size: 100% 100%;
}