/* 导航栏 */
*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-size: 13px;
    color:#6C6C6C;
}
.top{
    background-color:#F5F5F5;
    width: 100%;
}
/* .top .top-nav div{
    text-decoration: underline;
} */
.top-nav{
    height:35px;  
    padding: 0 100px;
    line-height: 35px;
}
.top li {
    font-weight:normal;

}
.top .top-nav .top-nav-zuo li .denglu{
    color:#f40;
}
.top-nav li a{
    color:#6c6c6c;
    font-size: 12px;
    line-height: 35px; 
    cursor: pointer; 
}

.top .top-nav .top-nav-you a:hover{
    text-decoration: none;
    color:#f40;
}
.top .top-nav-zuo a:hover{
    color:#f40;
    text-decoration: underline;
}
.top-nav .top-nav-zuo li{
    float: left;
    padding: 0 7px;
}
.top-nav .top-nav-you li a{
    float:right;
    margin-right:15px;
    height: 60px;
}
.top-nav .top-nav-zuo li a{
    float:left;
    margin-left:7px;
    height: 60px;
}
.top .top-nav .top-nav-zuo li span{
    float: left;
    margin-left: 7px; /*箭头与前标题的间距*/
}
.top .top-nav .top-nav-zuo .jt span{
    width:5px;
    height:5px;
    display: inline-block;
    margin-top: 15px;
    background-image: url(jt.png);
    background-size: 5px 5px;
    position: 0 5px;
}
.top .top-nav .top-nav-zuo li{
    float: left;
}

.top .top-nav .top-nav-you {
    float: right;
}
.top .top-nav .top-nav-you li{
    float: left;
    padding:0 7px;
}
.top .top-nav .top-nav-you li div{
    height:35px;
    line-height: 35px;
}
.top .top-nav .top-nav-you a{
    margin-right: 7px;
    float: left;
    font-size: 12px;
    color:#6C6C6C;
}
.top .top-nav .top-nav-you li span{
    float:left;
    margin-right: 7px;
    width:5px;
    height:5px;
    margin-top: 15px;
    background-image: url(jt.png);
    background-size: 5px 5px;
    background-position: 0 5px;
}
.top .top-nav .top-nav-you li .start{
    float:left;
    margin-right: 7px;
    width:15px;
    height:15px;
    margin-top: 10px;
    background-image: url(xx.png);
    background-size: 15px 15px;
    background-position: 0 0;
    background-repeat: no-repeat;
}
.top .top-nav .top-nav-you li span:hover{
    cursor: pointer;
}
/*输入框 */



.taobao-body{
    width:1167px;
    margin:0 auto;
    /* background-color: red; */
}
.taobao-body .head{
    height:100px;
    /* border: 1px solid red; */
    padding-top: 18px;
    position: relative;
}

.taobao-body .head-search{
    margin: 0 220px 0 250px;
    height:100px;
    /* background-color: orange; */
}
.taobao-body .head-logo{
    width:180px;
    height:100px;
    background-image: url(tbw.png);
    position: absolute;
    top:0px;
    cursor: pointer;
}
.taobao-body .head-logo a{
    display: inline;
    cursor: pointer;
    width:146px;
    padding-top: 60px;
}
.taobao-body .head-code{
    position: absolute;
    right:0px;
    bottom:0px;
    display: block;
    width:94px;
    height:112px;
    border:1px solid #e8e8e8;
    overflow: hidden;
    text-align: center;
    color:#6C6C6C;
    
}
.taobao-body .head-code{
    width:119px;
    height:119px;
    background-image: url(jnh.png);
    position: absolute;
    top:0px;
    cursor: pointer;
}
    /* 导航栏 */

.taobao-body .head .head-search li{
    text-align: center;
    margin-left: 0px;
    line-height: 24px;
    float: left;
    width:50px;
    height: 25px;
    margin-left: 4px;
    cursor: pointer;
}
.taobao-body .search-head{
    height:25px;
    /* border: 1px solid; */
}
.taobao-body .head-search .search-head li a{
    display: block;
    width:50px;
    height: 25px;
    color:#f40;
}
.taobao-body .head-search .search-head li a:hover{
    background-color: #f9e6e6;
    color:#c60000;
}
.taobao-body .head-search .search-head li a.choose1{
    background-color: #ff5400;
    color:#fff;
}

.taobao-body .head .search-box{
    position: relative;
    height:33px;
    border-width: 3px 3px 3px 3px;
    border-style: solid;
    border-color: #ff5400;   
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.taobao-body .head .search-box .box1{
    padding: 5px 0;
    text-indent: 10px;
    height:22px;
    line-height: 22px;
    width:618px;
    border:0;
    outline:0;
    background: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}
.taobao-body .head .search-box .submit{
    margin-left:3px;
    width:79px;
    height:36px;
    position: absolute;  
    border:0;
    background-image: url(ss.png);
}
.taobao-body .head .search-box .search-bottom{
    padding:5px 41px 0 0;
    height:20px;
}
.taobao-body .head .search-box .search-bottom a{
    position: relative;
    float: left;
    margin-right:8px;
    color:#667;
    font-size: 13px;
}
.taobao-body .head .search-box .search-bottom .tx{
    color:#ff5000;
}
.taobao-body .head .search-box .search-bottom a:hover{
    color:#ff5000;
}
.taobao-body .head .search-box .search-bottom span {
    position: absolute;
    margin-left: 77px;
    font-size: 13px;
    /* float: left;     */
    width:30px;
    height:20px;
    display: inline-block;
    /* border:1px solid red; */
}
.taobao-body .head .search-box .search-bottom span:hover{
    color:#ff5000;
    cursor: pointer;
}
/* 列表框和图片区域 */
.taobao-body .shop{

}
.taobao-body .shop .main{
    position: relative;
    float: left;
    width:978px;
    height:552px;
    margin-left: 187px;
    /* border: 1px solid red; */
    background-color:#F4F4F4;
}

.taobao-body .shop .main .dh ul li a{
    display: block;
    font-size: 15px;
    float: left; 
    margin-left:17px;
    margin-top: 3px;
    font-weight: bold;
    color:#fff;
    /* background-color: blue; */
}

.taobao-body .shop .main .dh{
    width:978px;
    height:30px;
    background-color: #ff8700;
    overflow: hidden;
}

.taobao-body .shop .serve{
    position: absolute;
    float: left;
    width:180px; 
    height:552px;
    border: 1px solid #f40;
    /* background-color: orange; */
}
/* 主题市场相关--------------------------------------------------- */
.taobao-body .shop .serve .ztsc{
    float: left;
    width: 180px;
    height:30px;
    text-align: center;
    background: #ff5000
}
.taobao-body .shop .serve .ztsc li {
    margin-top: 3px;
}
.taobao-body .shop .serve .ztsc li a{
    font-size: 16px;
    color:#fff;
}
.taobao-body .shop .serve ul li{
    overflow: hidden;
    line-height: 37px;
    height: 37px;
    padding-left: 25px;
    padding-right: 19px;
    position: relative;
    font-size: 20px;
    font-weight: 400;
    width: 135px;
    color: #666;
    /* border: 1px solid red; */
}
.taobao-body .shop .serve ul li i{
    color:#6c6c6c;
}
.taobao-body .shop .serve ul li:hover{
    background-color: #ffe4dc;
    color: #FF5000;
}
.taobao-body .shop .serve ul li a:hover{
    color:#FF5000;
}

/* 中间图片区域 -------------------------------------------------*/
.taobao-body .shop .tu1{
    float: left;
    margin-top: 10px;
    width:520px;
    height:280px;
    /* background-color: red; */
    background-image: url(tu1.jpg);
}
.taobao-body .shop .tu2{
    overflow: hidden;
    float: left;
    margin-top: 10px;
    width:160px;
    height:280px;
    margin-left: 10px;
    /* background-color: red; */
    background-image: url(tu2.jpg);
}
.taobao-body .shop .tu3{
    position: relative;
    overflow: hidden;
    float: left; 
    margin-top: 20px;
    width:520px;
    height:201px;
    background-image: url(tu3.jpg);
    /* border: 2px solid red; */
}
.taobao-body .shop .tu4{
    overflow: hidden;
    margin-top: 20px;
    margin-left: 10px;
    float: left;
    width:160px;
    height:200px;
    background-image: url(tu4.jpg);
    /* border: 2px solid red; */
}
/*图右Hi图片1*/
.taobao-body .tu-right .hi-nihao{
  
    position: relative;
    height: 97px;
    width:280px;
    text-align: center;
    /* background-image: url(hi.jpg); */
}
/*图片下边的登录注册开店*/
.taobao-body .tu-right .dlzckd{
    margin-left: 8px;
    width:274px;
    height: 25px;
    margin-top: 8px;
    /* border: 1px solid red; */
}
.taobao-body .tu-right .dlzckd a{
    float: left;
    line-height: 25px;
    width: 75px;
    margin-right: 14px;
    text-align: center;
    color: #FFF;
    background-color: #ff5000;
    border: 1px solid red;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.taobao-body .tu-right .hi-nihao a{
    display: block;
    width:274px;
    height:91px;
    /* background-color: red; */
    background-image: url(hi.png);
}
/*有害信息举报*/
.taobao-body .tu-right .jbzq{
    margin-left: 8px;
    width:260px;
    height: 25px;
    text-align: center;
    margin-top: 20px;
    background-color: #ffe4dd;
}
.taobao-body .tu-right .jbzq a{
    /* position: absolute; */
    color:#f40;
}
/*;图右整体布局-------------------------------------*/
.taobao-body .shop  .tu-right{ 
    position: absolute;;
    float: left;
    margin-left: 701px;
    margin-top: 10px;
    width:274px;
    height:510px;
    /* border: 2px solid black; */
    background-color: #fff;
}
 /*图右标题1*/
.taobao-body .shop .main .tu-right .info-right .info-top li {  
    float: left;
    line-height: 20px;
    width: 30px;

    text-align: center;
    margin: 0 11px;
    border: 1px solid #F5F5F5;
}
.taobao-body .shop .main .tu-right .info-right .info-top li a{
    display: block;
    width:30px;
    height:30px;
    margin-top: 15px;
}
.taobao-body .shop .main .tu-right .info-right .info-top li:hover{
    color:#f40;
    cursor: pointer;
}
/*图右标题2*/
.taobao-body .shop .main .tu-right .info-right .info-bottom li a{
    float: left;
    line-height: 20px;
    width: 110px;
    text-align: center;
    margin: 5px 11px;
}
.taobao-body .shop .main .tu-right .info-right .info-bottom li .imp{
    color:#f40;
}
/*话费栏-------------------------------------------------*/
.taobao-body .shop .main .huafei{
    position: relative;
    width:274px;
    height:335px;
    /* border:1px solid red; */
}
.taobao-body .shop .main .huafei li{
    float: left;
    width:70px;
}
.taobao-body .shop .main .huafei li {
    float: left;
    width:66px;
    height:60px;   
    /* border:1px solid #f40; */
    border-bottom-color:#fff;
    text-align: center;
    margin-top: 15px;
    border: 1px solid #F4F4F4;
}
.taobao-body .shop .main .huafei li a{
    display: inline-block;
    width: 24px;
    height: 33px;
    margin-top: 11px;
    background-repeat: no-repeat;
}
.taobao-body .shop .main .huafei li a p{
    display: block;
    width:70px;
    height:24px;
    color:#333;
    margin-left:-22px;
    margin-top: 30px;
    line-height: 24px;
    text-align: center;
}
/* 四张图片 */
.taobao-body .shop .main .huafei li  .huafei{
    background: url(huafei.png)0 0 no-repeat; 
}
.taobao-body .shop .main .huafei li  .lvxing{

    background: url(huafei.png)0 0 no-repeat;
}
.taobao-body .shop .main .huafei li  .chexian{
    background: url(chexian.png);
}
.taobao-body .shop .main .huafei li  .youxi{
    background: url(youxi.png);
}
