*{  
    margin: 0;
    padding: 0;
}
body{
    font-size: 12px;
    background: #e3e4e5;

}
img{
    border: none;
}
li{
    list-style: none;
}
input,select,textarea{
    outline: none;
}
a{
    text-decoration: none;
    color: #656565;
}
input{
    border: none;
}
button{
    border: none;
}
image{
    border: none;
}
/* 清除浮动 */
